.progress {
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 26px;
}

.progress_hidden {
  display: none;
}

.progress__fragment {
  height: 26px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #666;
  border-radius: 4px;
  box-sizing: border-box;
}

.progress__fragment_solved {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #addfad;
  z-index: 1;
}

.progress__fragment_unsolved {
  opacity: 0.5;
}

.progress__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.progress__fragment.active {
  background-color: #009b77;
  color: #fff;
}

.progress__fragment:hover {
  background-color: #009b77;
  color: #fff;
}
